@media (prefers-color-scheme: dark) {
	body {
		background-color: #242424;
		color: #fff;
	}

	.logo {
		color: #fff;
	}

	.logo {
		background-image: url('/assets/assets/uploads/vanilla-logo-dark.png');
	}

	a {
		color: #fff;
	}

	a:hover {
		color: #eee;
		border-bottom: 1px dotted #eee;
	}

	.scroll .topbar {
		background-color: #242424;
		border-bottom-color: #202020;
	}

	html::-webkit-scrollbar-track {
		border: 7px solid #242424;
		background-color: #242424;
	}

	html::-webkit-scrollbar-track:hover {
		background-color: #242424;
	}

	html::-webkit-scrollbar-thumb {
		background-color: rgb(83, 83, 83);
	}

	html::-webkit-scrollbar-thumb:window-inactive {
		background-color: rgb(66, 66, 66);
	}

	html::-webkit-scrollbar-thumb:hover {
		background-color: rgb(112, 112, 112);
	}

	.card,
	.blog-posts article {
		background-color: #2d2d2d;
		border-bottom-color: #363636;
		box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	}

	.card-bg-icon {
		color: #262626;
	}

	.searchField {
		box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
		background-color: #2d2d2d;
	}

	.searchField input,
	select,
	textarea {
		color: #fafafa;
	}

	.articleHeader {
		text-align: center;
		padding: 30px 20px;
		background-color: #2d2d2d;
	}

	.page {
		background-color: #181818;
	}

	code.language-plaintext.highlighter-rouge {
		color: #ffb600;
		background-color: #ffbf482e;
	}

	footer {
		background-color: #242424;
		color: #fafafa;
		text-decoration-color: #fafafa;
	}
}
