@media screen and (max-width: 745px) {
    .suggestArea {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-size: 16px;
    }

    .articleHeader h1 {
        font-size: 24px;
    }
    
    .articleHeader p {
        font-size: 16px;
    }
    
    .article {
        display: flex;
        flex-direction: column;
    }
    
    .articleSidebar {
        max-width: initial;
        margin: 0;
    }
    
    .articleSidebar .summary:not(.show) ul {
        display: none;
    }

    .toggleSummary {
        display: block;
    }
}