---
layout: default
---

<div class="articleHeader">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</div>

<div class="page">
  <div class="container article">
    <div class="articleSidebar">
      <aside>
        <div class="summary">
          <b>Summary</b>
          <span class="toggleSummary material-icons-outlined" id="toggleSummary">arrow_drop_down</span>
          <ul>
              <li>Loading...</li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="articleWrapper">
      <div class="articleBody">
        {{ content }}
      </div>
    </div>
  </div>
  <div class="articleFooter">
    <div class="authors">
      <b>Written by</b>
      <div class="authorsWrapper">
        {% for author in page.authors %}
          <div class="authorInfo">
            <span class="authorGitHubPic" github-user="{{ author }}"></span>
            <a class="authorName" href="https://github.com/{{ author }}" target="_blank">{{ author }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/dracula.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script type="text/javascript" src="/assets/js/autosummary.js"></script>
<script type="text/javascript" src="/assets/js/mobile-summary.js"></script>
<script type="text/javascript" src="/assets/js/github-profile-pic.js"></script>
<script>
  hljs.highlightAll();
  autosummary(".articleBody", ".articleSidebar .summary>ul");
  getGitHubProfilePic();
</script>